.cards {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 20px 40px;

    .card {
        cursor: pointer;
        margin: 20px;
        transition: all 0.25s ease;
        padding: 20px;
        border-radius: 20px;
        width: 300px;
        h2 {
            margin-bottom: 20px;
            color: #000;
        }
        .drinkImage {
            height: auto;
            border-radius: 20px;
            width: 100%;
            object-fit: cover;
        }

        &:hover {
            background-color: darkcyan;
        }
    }
}
.searchInput {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 40px;
    display: block;

    p {
        margin-bottom: 10px;
        font-size: 22px;
        line-height: 28px;
    }

    input {
        padding: 10px;
        width: 700px;
        border: 1px solid #ccc;
        border-radius: 10px;
        transition: all 0.25s ease;
        outline: none;

        &:focus {
            border: 1px solid #000;
        }
    }
}
